@import url('https://fonts.googleapis.com/css?family=Bad+Script');

table{
  border: 2px solid #ddd;  
  margin: auto;
}

.separate {
   /* значение по умолчанию */
  border-collapse: separate;
}

.collapse {
  border-collapse: collapse;
}

td{
  border: 2px solid #ccc;  
}
td:nth-of-type(2) {
  border: 2px dashed #ccc; 
}

.wrapper {
  width: 360px;
  padding: 0 0 30px;
  margin: 10px;
  font-family: 'Bad Script', cursive;
}

.container {
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
  color: #ddd;
}