*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
}
h1,p{
text-align: center;
}
button{
    display: block; 
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    border: none; 
    background-color: rgb(6, 7, 7);
    color: rgb(54, 228, 10);
    padding: 10px;
    cursor: pointer;
    margin: 15px 0;
}
button:hover{
    outline: 3px solid rgb(68, 119, 34);
}
input{ 
    padding: 10px;
    border: 1px solid red ;
}

input:focus::placeholder{
font-size: 0;
}
.wrapper{
    display: flex;
    justify-content: space-around;
   
}
div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.updated-user{
    margin-top: 1%;
}

.allUsers{
    list-style: none;
    width: 500px;
    padding: 0px 39px;
}
.usersLi{
margin-top: 2%;
}
span{
    display: block;
    margin-left: 1%;
}
.menu{
    display: flex;
    width: 200px;
    height: 50px;
}

