@import url('https://fonts.googleapis.com/css?family=Bad+Script|Lobster');


table {
  border-collapse: collapse;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  margin: auto;
}

th {  font-weight: 100; }

td, th {
  padding: 5px;
  border: 1px dashed var(--orange);
}

td {
  text-align: left;
}

.wrapper {
  width: 480px;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-weight: 100;
}

tr:nth-of-type(odd) {
  background-color: hsla(0, 50%, 0%, 0.1);
}

td:nth-of-type(2) {
  font-family: 'Bad Script', cursive;
}

td[colspan="2"],
td[rowspan="5"]
{
  background-color: hsla(0, 50%, 100%, 0.1);