@import url('https://fonts.googleapis.com/css?family=Bad+Script|Lobster');

.wrapper {
  width: 320px;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

tr, th, td, caption {
  padding: 5px;
  border: 1px var(--orange) solid;
  font-weight: 100; 
}

caption, tr:nth-of-type(even) {
  background-color: hsla(0, 50%, 0%, 0.2);
}

tr:nth-of-type(odd) {
  background-color: hsla(0, 50%, 100%, 0.1);